<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport"/>
    <title>All Information Table</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/info.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--    <script src="../static/js/main.js" type="text/javascript"></script>-->
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<canvas style="border: 1px solid black;" height="118" id="canvas" width="30"></canvas>
<br/>
<label>Size:</label>
<input id="size" type="number"/>
<br/>
<label>X:</label>
<input id="x" max="30" min="1" type="number"/>
<br/>
<label>Y:</label>
<input id="y" max="118" min="1" type="number"/>
<br/>

<div> Select one from the given shape:
    <select id="selectShape">
        <option value="circle">Circle</option>
        <option value="square">Square</option>
    </select>
</div>

<button onclick="drawShape()">Draw Shape</button>
<div th:if="${panels != null && panels.size() > 0}">
    <button class="theme-btn" th:attr="onclick=|sendShape(${panel.id})|"
            th:each="panel : ${panels}"
            th:text="'Send to Panel #' + ${panel.id} + ' : ' + ${panel.name}">
    </button>
</div>
<button onclick="reset()">Reset</button>
<script src="../static/js/draw.js" type="text/javascript"></script>

</body>

</html>