<div class="myFormUpdate"
     th:fragment="informationEdit"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/information/update}" th:object="${informationCreationRequest}" enctype="multipart/form-data" >
        <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade" id="updateModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-info">
                            Input information data to the fields
                        </p>
                        <!--                        id-->
                        <input type="hidden" th:field="*{id}" th:value="0" />
                        <!--                        name-->
                        <div class="form-group">
                            <label class="col-form-label" th:field="*{name}" for="name">NAME:</label>
                            <input class="form-control" id="name" name="name" type="text" value=""/>
                        </div>
                        <!--                        type-->
                        <div class="form-group">
                            <label class="col-form-label" th:field="*{type}" for="type">type:</label>
                            <input class="form-control" id="type" name="type" type="text" value=""/>
                        </div>
                        <!--                        multipartFile-->
                        <div class="form-group">
                            <label class="col-form-label" th:field="*{multipartFile}" for="multipartFile">multipartFile:</label>
                            <input class="form-control" id="multipartFile" name="multipartFile" type="text" value=""/>
                        </div>
                        <!--                        fileURL-->
                        <div class="form-group">
                            <label class="col-form-label" th:field="*{fileURL}" for="fileURL">fileURL:</label>
                            <input class="form-control" id="fileURL" name="fileURL" type="text" value=""/>
                        </div>
                        <!--                        profileId-->
                        <div class="form-group">
                            <label class="col-form-label" th:field="*{profileId}" for="profileId">profileId:</label>
                            <input class="form-control" id="profileId" name="profileId" type="text" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <input class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>