:root {
  --shadow-white: white;
  --shadow-gray: #c8d0e7;
  --bg-gray: #ebecf0;
  --text-purple: #6d5dfc;
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --warm-light: #f5977a;
  --warm: #ff693b;
  --warm-dark: #ff3c00;
  --cool-light: #8bbdf7;
  --cool: #4264fc;
  --cool-dark: #002fff;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
    .knob-surround {
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      position: relative;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      border: solid 0.25em #ebecf0;
      margin: 2em 5em;
     }
    .knob {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 10;
        color: var(--primary);
        display: flex;
        align-items: center;
        box-shadow: 0.3rem 0.3rem 0.8rem var(--greyLight-2),
            -0.2rem -0.2rem 0.5rem var(--white);
    }
    .knob:before {
      content: "";
      position: absolute;
      bottom: 19%;
      left: 19%;
      width: 15%;
      height: 15%;
      background-color:var(--greyLight-1);
      border-radius: 50%;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
    }
    .knob:hover {
      box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                  -2px -2px 4px rgba(255, 255, 255, .4),
                  2px 2px 2px rgba(255, 255, 255, .05),
                  2px 2px 4px rgba(0, 0, 0, .1);
    }
    .min,
    .max {
      display: block;
      font-family: "Varela Round", sans-serif;
      color: rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      font-size: 70%;
      position: absolute;
      opacity: 0.5;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
    .min {
      bottom: 1em;
      left: -2.5em;
    }
    .max {
      bottom: 1em;
      right: -2.5em;
    }
    .tick {
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      overflow: visible;
    }
    .tick:after {
      content: "";
      width: 0.02em;
      height: 0.6em;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: -1.5em;
      left: 50%;
      -webkit-transition: all 180ms ease-out;
      -moz-transition: all 180ms ease-out;
      -o-transition: all 180ms ease-out;
      transition: all 180ms ease-out;
    }
    .activetick:after {
           background-color:var(--primary);
           -webkit-box-shadow: 0 0 0.3em 0.08em var(--primary-dark);
           -moz-box-shadow: 0 0 0.3em 0.08em var(--primary-dark);
           box-shadow: 0 0 0.3em 0.08em var(--primary-dark);
           -webkit-transition: all 50ms ease-in;
           -moz-transition: all 50ms ease-in;
           -o-transition: all 50ms ease-in;
           transition: all 50ms ease-in;
         }

    .tick2 {
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      overflow: visible;
    }
    .tick2:after {
      content: "";
      width: 0.02em;
      height: 0.6em;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: -1.5em;
      left: 50%;
      -webkit-transition: all 180ms ease-out;
      -moz-transition: all 180ms ease-out;
      -o-transition: all 180ms ease-out;
      transition: all 180ms ease-out;
    }
    .activetick2:after {
           background-color:var(--warm);
           -webkit-box-shadow: 0 0 0.3em 0.08em var(--warm-dark);
           -moz-box-shadow: 0 0 0.3em 0.08em var(--warm-dark);
           box-shadow: 0 0 0.3em 0.08em var(--warm-dark);
           -webkit-transition: all 50ms ease-in;
           -moz-transition: all 50ms ease-in;
           -o-transition: all 50ms ease-in;
           transition: all 50ms ease-in;
         }

    .tick3 {
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      overflow: visible;
    }
    .tick3:after {
      content: "";
      width: 0.02em;
      height: 0.6em;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: -1.5em;
      left: 50%;
      -webkit-transition: all 180ms ease-out;
      -moz-transition: all 180ms ease-out;
      -o-transition: all 180ms ease-out;
      transition: all 180ms ease-out;
    }
    .activetick3:after {
           background-color:var(--cool);
           -webkit-box-shadow: 0 0 0.3em 0.08em var(--cool-dark);
           -moz-box-shadow: 0 0 0.3em 0.08em var(--cool-dark);
           box-shadow: 0 0 0.3em 0.08em var(--cool-dark);
           -webkit-transition: all 50ms ease-in;
           -moz-transition: all 50ms ease-in;
           -o-transition: all 50ms ease-in;
           transition: all 50ms ease-in;
         }

.volumeVal {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position:absolute;
    right: 150px;
    bottom: 140px;
}

.volumeVal .current-value {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position:absolute;
    text-shadow: 0 0 5px var(--primary-dark);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color:  var(--primary);
}

.volumeVal .current-value-warm {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position:absolute;
    text-shadow: 0 0 5px var(--cool-dark);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color:  var(--warm);
}

.volumeVal .current-value-cool {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position:absolute;
    text-shadow: 0 0 5px var(--cool-dark);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color:  var(--cool);
}
