<div class="myFormInformationUpdate"
     th:fragment="informationEdit"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <form enctype="multipart/form-data" method="post" th:action="@{/information/update}"
          th:object="${informationCreationRequest}">
        <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade" id="updateModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p class="alert alert-info">
                            Input information data to the fields
                        </p>
                        <!-- id-->
                        <input th:field="*{id}" th:value="0" type="hidden"/>
                        <!-- name-->
                        <div class="form-group">
                            <label class="col-form-label" for="name" th:field="*{name}">Name:</label>
                            <input class="form-control" id="name" name="name" type="text" value=""/>
                        </div>
                        <!-- duration-->
                        <div class="form-group" id="durationDiv">
                            <label class="col-form-label" for="duration" th:field="*{duration}">Duration:</label>
                            <input class="form-control" id="duration" name="duration" type="number" value=""/>
                        </div>
                        <!-- count-->
                        <div class="form-group" id="countDiv">
                            <label class="col-form-label" for="count" th:field="*{count}">Count:</label>
                            <input class="form-control" id="count" name="count" type="number" value=""/>
                        </div>
                        <!-- type-->
                        <div class="form-group">
                            <label for="fileType">Type:</label>
                            <select class="col-form-label form-control" th:field="*{infoType}" th:for="infoType">Type:
                                <option th:each="infoType : ${T(com.example.demo.model.InfoType).values()}"
                                        th:id="infoType"
                                        th:text="${infoType}" th:value="${infoType}"></option>
                            </select>
                        </div>
                        <!-- multipartFile-->
                        <div class="form-group">
                            <label class="col-form-label" for="multipartFile" th:field="*{multipartFile}">Upload
                                File:</label>
                            <input class="form-control" id="multipartFile" name="multipartFile"
                                   style="height:calc(1.5em + .75rem + 8px)" type="file" value=""/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Save"/>
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>