<div class="myFormInformationUpdate"
     th:fragment="informationEdit"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/information/update}" th:object="${informationCreationRequest}" enctype="multipart/form-data" >
        <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade" id="updateModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p class="alert alert-info">
                            Input information data to the fields
                        </p>
                        <!-- id-->
                        <input th:field="*{id}" th:value="0" type="hidden"/>
                        <!-- name-->
                        <div class="form-group">
                            <label class="col-form-label" for="name" th:field="*{name}">NAME:</label>
                            <input class="form-control" id="name" name="name" type="text" value=""/>
                        </div>
                        <!-- type-->
                        <div class="form-group">
                            <select class="col-form-label" th:for="infoType" th:field="*{infoType}"> TYPE :
                                <option th:id="infoType"
                                        th:each="infoType : ${T(com.example.demo.model.InfoType).values()}"
                                        th:text="${infoType}" th:value="${infoType}"></option>
                            </select>
                        </div>
                        <!-- multipartFile-->
                        <div class="form-group">
                            <label class="col-form-label" for="multipartFile" th:field="*{multipartFile}">Upload File
                                : </label>
                            <input id="multipartFile" name="multipartFile" type="file" value=""/>
                        </div>
                        <!-- profileId-->
                        <div class="form-group">
                            <select class="col-form-label" th:for="profileId" th:field="*{profileId}"> PROFILE :
                                <option th:id="profileId"
                                        th:each="profile : ${profiles}"
                                        th:text="${profile.id} + ' : ' + ${profile.name}"
                                        th:value="${profile.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <input class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>