<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Panel Table</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/user/canvas.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/user/header.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <!--    Neumorphic Drop-down selection //////////-->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--    //////////Neumorphic Drop-down selection -->
</head>
<body>
<div th:replace="user/fragments/header :: header"></div>
<div class="alert alert-success alert-dismissible fade show text-center message" role="alert"
     th:if="${message != null}">
    [[${message}]]
    <button aria-label="Close" class="close btn-sm" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <section class="tools-board">
        <div class="row">
            <label class="title">Shapes</label>
            <ul class="options">
                <li class="option tool" id="rectangle">
                    <img src="../static/images/rectangle.svg" alt="">
                    <span>Rectangle</span>
                </li>
                <li class="option tool" id="circle">
                    <img src="../static/images/circle.svg" alt="">
                    <span>Circle</span>
                </li>
                <li class="option tool" id="triangle">
                    <img src="../static/images/triangle.svg" alt="">
                    <span>Triangle</span>
                </li>
                <li class="option">
                    <input type="checkbox" id="fill-color">
                    <label for="fill-color">Fill color</label>
                </li>
            </ul>
        </div>
        <div class="row">
            <label class="title">Options</label>
            <ul class="options">
                <li class="option active tool" id="brush">
                    <img src="../static/images/brush.svg" alt="">
                    <span>Brush</span>
                </li>
                <li class="option tool" id="eraser">
                    <img src="../static/images/eraser.svg" alt="">
                    <span>Eraser</span>
                </li>
                <li class="option">
                    <input type="range" id="size-slider" min="1" max="30" value="5">
                </li>
            </ul>
        </div>
        <div class="row colors">
            <label class="title">Colors</label>
            <ul class="options">
                <li class="option"></li>
                <li class="option selected"></li>
                <li class="option"></li>
                <li class="option"></li>
                <li class="option">
                    <input type="color" id="color-picker" value="#4A98F7">
                </li>
            </ul>
        </div>
        <div class="row buttons">
            <button class="clear-canvas">Clear Canvas</button>
            <button class="save-img">Save As Image</button>
        </div>
    </section>
    <section class="drawing-board">
        <canvas></canvas>
    </section>
</div>
<script src="../static/js/user/canvas.js" type="text/javascript"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>