<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport"/>
    <title>All Panel Table</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/info.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/upload.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/neumorphic.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/knob.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="alert alert-success alert-dismissible fade show text-center message" role="alert"
         th:if="${message != null}">
        [[${message}]]
        <button aria-label="Close" class="close btn-sm" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h2 class="title">Panel Connection</h2>
    <div class="d-flex">
        <div th:each="panel : ${panels}">
            <div class="neu-text" th:text="${panel.name}"></div>
        </div>
        <button style="background: #99ffc0;">Identify</button>
    </div>
    <hr/>
    <h2 class="title">Panel Control</h2>
    <div class="flex">
        <div th:each="panel : ${panels}">
        <input type="checkbox" class="cb" th:id="'cb' + ${panel.id}" hidden="hidden">
        <label th:for="'cb' + ${panel.id}" class="button b3">
            <i class="fas fa-unlock nc" th:text="${panel.name}"></i>
            <i class="fas fa-lock checked" th:text="${panel.name}"></i>
        </label>
    </div>
    </div>
    <hr/>
    <div class="flex">
    </div>
</div>
<script src="../static/js/neumorphic.js" type="text/javascript"></script>
<script src="../static/js/knob.js" type="text/javascript"></script>
</body>

</html>