<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Getting Started: Handling Form Submission</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/information}" th:object="${information}" method="post">
	<p>Id: <information type="text" th:field="*{id}" /></p>
	<p>Message: <information type="text" th:field="*{content}" /></p>
	<p><information type="submit" value="Submit" /> <information type="reset" value="Reset" /></p>
</form>
</body>
</html>