<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport"/>
    <title>Lend Panel</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/info.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">lend Panels</h2>

    <div class="alert alert-success alert-dismissible fade show text-center message" role="alert"
         th:if="${message != null}">
        [[${message}]]
        <button aria-label="Close" class="close btn-sm" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form method="post" th:action="@{/lend/setPanel/}" th:object="${panelSelection}">
        <fieldset>
            <select th:field="*{displayType}" th:id="displayType" class="form-select">
                <option th:each="displayType : ${T(com.example.demo.model.DisplayType).values()}"
                        th:value="${{displayType}}"
                        th:text="${displayType}">
                </option>
            </select>
            <select th:field="*{panelList}" th:id="panelList" multiple class="form-select">
                <option th:each="panel : ${panels}"
                        th:value="${{panel}}"
                        th:text="${panel.name}">
                </option>
            </select>
            <select th:field="*{profileList}" th:id="profileList" multiple>
                <option th:each="profile : ${profiles}"
                        th:value="${{profile}}"
                        th:text="${profile.name}">
                </option>
            </select>
            <input th:id="submitButton" th:value="Save" type="submit" class="btn btn-primary">
            <input th:id="resetButton" name="reset" th:value="Reset" type="reset"  class="btn btn-danger"/>
        </fieldset>
    </form>
    <div th:unless="${lends == null || lends.size() > 0}">
        <span>No lend found!</span>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script>
    $(document).ready(function(){
        $('#displayType').on('change', function(){
            var displayTypeValue = $(this).val();
            if(displayTypeValue == 'INDIVIDUAL'){
                $('#panelList').show();
            } else {
                $('#panelList').hide();
            }
        });
        $('#resetButton').on('click', function(){
            $('#panelList').show();
        });
    });
</script>
</body>
</html>