<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport"/>
    <title>All Information Table</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/info.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/home.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="switch-container">
        <label for="toggleButton">LED panel switch: </label>
        <label class="switch">
            <input id="toggleButton" type="checkbox">
            <span class="slider round"></span>
        </label>
        <div id="data-container"></div>
    </div>
    <div class="switch-container">
        <label for="toggleButton">LED panel Contiguous switch: </label>
        <label class="switch">
            <input id="toggleButtonContiguous" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="switch-container">
        <label for="toggleButton">LED panel Mirror switch: </label>
        <label class="switch">
            <input id="toggleButtonMirror" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="switch-container">
        <button class="btn btn-info mb-2" id="fetch-button">Fetch Logs</button>
        <button class="btn btn-danger" id="reset-button">RESET</button>
        <div id="logs-container"></div>
    </div>
</div>
<div class="switch-container">
    <label>LED panel brightness : </label>
    <div class="slider-container">
        <input type="range" min="1" max="31" value="16" class="slider">
        <span class="slider-value"> Brightness: 50.00% </span>
    </div>
</div>
<!-- Loop over the list of models and create a slider for each panel -->

<div th:each="panel : ${panels}">
    <div class="single-slider-container">
        <h3 th:text="${panel.name}"></h3>
        <input class="single-slider" type="range" min="1" max="31" value="1" th:data-panel-id="${panel.id}">
        <div class="single-slider-value"> Brightness: 50.00% </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="../static/js/home.js" type="text/javascript"></script>
<script>
    $(function(){
    var current = location.pathname;
    $('#panel-menu li a').each(function(){
        var $this = $(this);
        // if the current path is like this link, make it active
        if($this.attr('href').indexOf(current) !== -1){
            $this.addClass('active');
        }
    })
})
</script>
</body>
</html>